<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sun&Travel</title>
    <meta name="description" content="Biuro podróży z najszerszą ofertą wakacyjną - znajdziemy coś dla każdego"/>
    <meta name="keywords" content="travel, vacation, airport, country, hotel, city, continent"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="style2.css"/>
    <link href="../static/css/style2.css" th:href="@{/css/style2.css}" rel="stylesheet"/>

</head>
<body>
<div id="container">
    <div class="rectangle">
        <div id="logo">Sun&Travel</div>
        <a href="https://time.is/Lodz" id="time_is_link" rel="nofollow" style="font-size:36px"></a>
        <span id="Lodz_z733" style="font-size:36px"></span>
        <script src="//widget.time.is/pl.js"></script>
        <script>
            time_is_widget.init({Lodz_z733: {template: "TIME<br>DATE", date_format: "dayname dnum monthname year"}});
        </script>

        <div style="clear: both;"></div>
        <div class="panel">
            <div class="option"><a href="/home">Home</a></div>
            <div class="option"><a href="/travel">Travel</a></div>
            <div class="option"><a href="/hotel">Hotel</a></div>
            <div class="option"><a href="/country">Country</a></div>
            <div class="option"><a href="/airport">Airport</a></div>
            <div class="option"><a href="/city">City</a></div>
            <div class="option"><a href="contact">Contact</a></div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="menu">

        <a href="http://www.youtube.com">
            <div class="yt">
                <img id="img3" th:src="@{/img/yt.png}"/>
            </div>
        </a>
        <a href="http://www.facebook.pl">
            <div class="fb">
                <img id="img2" th:src="@{/img/fb.png}"/>
            </div>
        </a>
        <h3><p>Gwarancja Ceny - wycieczki kosztują dokładnie tyle, ile u organizatorów.
            Porównaj i oszczędź!</p>
            <p>Najszersza oferta biur podróży - wszyscy najwięksi organizatorzy w jednym miejscu!
                1,9 mln zadowolonych klientów - gwarantujemy bezpieczne wakacje od 2001 r.
                Bądź spokojny o swój wypoczynek!</p>
            <p>Rezerwuj tak jak lubisz - kupuj online, telefonicznie lub w jednym z ponad 150 salonów podróży.</p></h3>

        <div style="clear:both;"></div>
        <a href="http://www.twitter.com">
            <div class="tw">
                <img id="img4" th:src="@{/img/tw.png}"/>
            </div>
        </a>
        <a href="https://web.whatsapp.com">
            <div class="wh">
                <img id="img5" th:src="@{/img/wh.jpg}"/>
            </div>
        </a>

    </div>
    <div style="clear:both;"></div>
    <div class="footer">
        2023 &copy; Biuro Podróży Sun&Travel - Twoje wymarzone wakacje &reg; <i class="icon-mail-alt"></i>sun&travel@gmail.com
        <input type="button" value="Wstecz" onClick="history.back();"/>
    </div>


</div>
</body>
</html>