<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sun&Travel</title>
    <meta name="description" content="Biuro podróży z najszerszą ofertą wakacyjną - znajdziemy coś dla każdego"/>
    <meta name="keywords" content="travel, vacation, airport, country, hotel, city, continent"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="style.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>


<nav class="navbar">

    <!-- LOGO -->

    <div class="logo">SUN&TRAVEL</div>

    <!-- NAVIGATION MENU -->

    <ul class="nav-links">


        <!-- NAVIGATION MENUS -->

        <div class="menu">

            <li><a href="/home" title="Zobacz gdzie możesz podróżować">Home</a></li>
            <li><a href="/travel" title="Zobacz nasze wspaniałe hotele">Travels</a></li>
            <li><a href="/hotel" title="Sprawdź państwa do których możesz polecieć">Hotels</a></li>
            <li><a href="/country">Countries</a></li>
            <li><a href="/city">Cities</a></li>
            <li><a href="/airport">Airports</a></li>

        </div>

    </ul>

</nav>


</body>
</html>