<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <meta name="description" content="Nasze wspaniałe hotele">
    <meta name="keywords"
          content="Warsaw, Berlin, Madrid, Oslo, Rome, Marriott, Riu, Anker, H2, Cipriani, Hotel">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
    <link href="../static/css/style3.css" th:href="@{/css/style3.css}" rel="stylesheet"/>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<div id="menu">
    <a href="/home">
        <div class="option">Home</div>
    </a>
    <a href="/travel">
        <div class="option">Travel</div>
    </a>
    <a href="/hotel">
        <div class="option">Hotel</div>
    </a>
    <a href="/country">
        <div class="option">Country</div>
    </a>
    <a href="/airport">
        <div class="option">Airport</div>
    </a>
    <a href="/city">
        <div class="option">City</div>
    </a>
    <a href="contact">
        <div class="option">Contact</div>
    </a>
</div>
<div style="clear: both;"></div>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>rating</th>
        <th>description</th>
    </tr>
    <th:block th:each="hotel:${hotels}">
        <tr>
            <td>
                <span th:text="${hotel.id}"></span>
            </td>
            <td>
                <span th:text="${hotel.name}"></span>
            </td>
            <td>
                <span th:text="${hotel.rating}"></span>
            </td>
            <td>
                <span th:text="${hotel.description}"></span>
            </td>
        </tr>
    </th:block>
</table>
<main>

    <article>

        <div class="container">

            <header>
                <h1>Nasze hotele</h1>
            </header>

            <div class="postcard">

                <div>
                    <a href="https://anker-hotel.no/"><img class="photo1" src="img/hotelAnker.jpg"
                                                           alt="Hotel Anker"></a>
                </div>
                <p>HOTEL ANKER</p>

            </div>

            <div class="postcard">

                <div>
                    <a href="https://www.kayak.pl/Wenecja-Hotele-Belmond-Hotel-Cipriani.57986.ksp"><img class="photo2"
                                                                                                        src="img/hotelCipriani.jpg"
                                                                                                        alt="Hotel Cipriani"></a>
                </div>
                <p>HOTEL CIPRIANI</p>

            </div>

            <div class="postcard">

                <div>
                    <a href="#"><img class="photo3" src="img/hotelH2.jpg" alt="Hotel H2"></a>
                </div>
                <p>HOTEL H2</p>

            </div>

            <div class="postcard">

                <div>
                    <a href="#"><img class="photo4" src="img/hotelMariot.jpg" alt="Hotel Marriott"></a>
                </div>
                <p>HOTEL MARRIOTT</p>

            </div>

            <div class="postcard">

                <div>
                    <a href="#"><img class="photo5" src="img/hotelRiuPlaza.jpg" alt="Hotel Riu Plaza"></a>
                </div>
                <p>HOTEL RIU PLAZA</p>

            </div>
        </div>

    </article>

</main>

</body>
</html>