<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .btn {
            color: rgb(65, 252, 3);
            background-color: black;
        }
        label {
            color: blue;
            font-size: 40px;
        }
    </style>
</head>
<body>
<form action="/action_page.php">
    <form action="/action_page.php">
        <label for="cities1">Choose departure:</label>
        <select id="cities1" name="cities1">
            <option value="Madrid">Madrid</option>
            <option value="Warsaw">Warsaw</option>
            <option value="Berlin">Berlin</option>
            <option value="Oslo">Oslo</option>
            <option value="Rome">Rome</option>
        </select>
        <form action="/action_page.php">
            <label for="departures"></label>
            <input type="date" id="departures" name="departures">
        </form>
    </form>
</form>

<form action="/action_page.php">
    <form action="/action_page.php">
        <label for="cities2" >Choose arrival:</label>
        <select id="cities2" name="cities2">
            <option value="Madrid">Madrid</option>
            <option value="Warsaw">Warsaw</option>
            <option value="Berlin">Berlin</option>
            <option value="Oslo">Oslo</option>
            <option value="Rome">Rome</option>
        </select>
        <form action="/action_page.php">
            <label for="arrivals"></label>
            <input type="date" id="arrivals" name="arrivals">
        </form>
    </form>

    <button type="submit" style="width: 100%" class="btn btn-success" value="Submit Button">Search</button>
    <!--<div class="form-row " style="margin-top: 16px; margin-bottom: 16px">
        <div class="col">
            <button type="submit" class="btn btn-outline-primary" style="width: 100%;">Search</button>
        </div>
    </div>-->
</form>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>fromCityName</th>
        <th>toCity</th>
        <th>fromAirport</th>
        <th>toAirport</th>
        <th>toHotel</th>
        <th>country</th>
        <th>tourPrice</th>
        <th>travelDateFrom</th>
        <th>travelDateTo</th>
    </tr>
    <th:block th:each="travel:${travels}">
        <tr>
            <td>
                <span th:text="${travel.id}"></span>
            </td>
            <td>
                <span th:text="${travel.name}"></span>
            </td>
            <td>
                <span th:text="${travel.description}"></span>
            </td>
            <td>
                <span th:text="${travel.fromCityName}"></span>
            </td>
            <td>
                <span th:text="${travel.toCityName}"></span>
            </td>
            <td>
                <span th:text="${travel.fromAirportName}"></span>
            </td>
            <td>
                <span th:text="${travel.toAirportName}"></span>
            </td>
            <td>
                <span th:text="${travel.toHotelName}"></span>
            </td>
            <td>
                <span th:text="${travel.countryName}"></span>
            </td>
            <td>
                <span th:text="${travel.tourPrice}"></span>
            </td>
            <td>
                <span th:text="${travel.travelDateFrom}"></span>
            </td>
            <td>
                <span th:text="${travel.travelDateTo}"></span>
            </td>
        </tr>
    </th:block>

</table>

</form>
</body>
</html>